Package: [% package %]
Version: [% version %]
Section: Science
Priority: optional
Architecture: all
Depends: [% deps_str %]
Maintainer: Robert Olson <olson@mcs.anl.gov>
Description: [% description %]
